body {
    background-image: url("bg/bg.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    font-family: 'Athiti', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
}

#logo {
    position: absolute;
    z-index: 30;
    top: 0px;
}

/* nav bar */
.navbar {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 45px;
    padding-left: 150px;
}

.navbar a {
    float: left;
    font-size: 20px;
    color: white;
    text-align: center;
    margin-top: -15px;
    padding: 14px 25px;
    text-decoration: none;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: whitesmoke;
    color: black;
}

/*end nav bar*/

html {
    scroll-behavior: smooth;
}

#section1 {
    color: white;
    margin: auto;
    width: 70%;
    padding: 10px;
    margin-top: 100px;
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
    font-size: 25px;
}

#topbtn {
    background-color: yellow;
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: whitesmoke;
    color: black;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
    font-size: 20px;
}

.topbtn:hover {
    background-color: #555;
}

/* --------------- button up ------------- */

/* --------------- button up ------------- */
.col {
    color: red;
}

/*nok table*/
.nok {
    text-align: center;
    margin: auto;
    border-spacing: 15px;

}

#nokrad {
    border-radius: 0%;
}

.nok.img {
    border: solid 2px whitesmoke;
}

/*anurak*/
.anurak {
    text-align: center;
    color: white;
    font-size: 20px;
    background-color: black;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 20px;

}

.anurak h2{
    margin: 0;
}
/*footer*/
.footer {
    width: 100%;
    height: 60px;
    background: rgba(0, 0, 0, 0.8);
    font-size: 15px;
    text-align: center;
    color: gray;
    padding-top: 10px;
    margin-top: 50px;
}
.footer a{
    border-spacing: 20px;
}
.footer a:link{
    color: gray;
    text-decoration: none;
}
.footer a:hover{
    color: gray;
}
.footer a:active{
    color: gray;
}
.footer a:visited{
    color: gray;
}
.footer p{
    margin: 0;
}
/*end of footer*/

/* text on list*/
a.hovertext {
    position: relative;
    width: 500px;
    text-decoration: none !important;
    text-align: center;
}

a.hovertext::after {
    content: attr(title);
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 0.5em 20px;
    background: rgba(0, 0, 0, 0.8);
    text-decoration: none !important;
    color: #fff;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
    border-radius: 0px 0px 0px 4px;
}

a.hovertext:hover::after, a.hovertext:focus::after {
    opacity: 1.0;
}

/*end text on list*/

/*grid container contact*/
.container {
    display: grid;
    margin: 0px 100px 50px 100px;
    padding: 0px 0px 50px 0px;
    grid-template-columns: auto;
    background: whitesmoke;
}

.profile {
    background: whitesmoke;
    font-size: 18px;
}

#pic_profile {
    float: left;
    margin: 0px 50px 20px 100px;
    border: solid 2px black;
    border-style: double;
    border-width: 10px;
}

.social_logo {
    float: right;
    margin-right: 100px;

}

/*end of grid container*/

/*top text about us*/
.top-text {
    background: whitesmoke;
    padding: 50px 100px 20px 100px;
    margin: 50px 100px 0px 100px;
}

#head_about {
    border-bottom: 1px solid #000000;
    margin: 0px
}
.top-text p{
    font-size: 20px;
}

/*end of top text*/

/*form contact*/
.contact-form {
    background: whitesmoke;
    margin: 50px 100px 100px 100px;
    padding: 20px 0px 50px 0px;
    text-align: center;

}

input {
    width: 400px;
    height: 40px;
    border: 0;
    background: #d2d2d2;
    border-radius: 5px;
    font-family: 'Athiti', sans-serif;
    font-size: 20px;
    text-align: left;
    padding-left: 15px;
}

.contact-form img {
    float: left;
    margin-left: 100px;
    margin-top: 20px;
}

#submit {
    width: 200px;
    background: #38d26f;
    margin-left: 500px;
    text-align: center;
}

textarea {
    height: 150px;
    width: 400px;
    border: 0;
    border-radius: 5px;
    font-family: 'Athiti', sans-serif;
    background: #d2d2d2;
    font-size: 20px;
    padding-left: 15px;
    resize: none;
}

/*end of form contact*/
/*genus */
#sectiongenus {
    color: white;
    margin: auto;
    width: 70%;
    padding: 10px;
    padding-left: 50px;
    margin-top: 100px;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 25px;
}

.main a:link {
    color: whitesmoke;
}

/* visited link */
.main a:visited {
    color: gray;
}

/* mouse over link */
.main a:hover {
    color: gray;
}

/* selected link */
.main a:active {
    color: black;
}